<div class="trade-statistics-container">
    <div class="trade-statistics-title"><span class="colorblock cb00"></span ><span class="trt-title01">交易额（应付）万元</span></div>
    <div class="trade-statistics-title"><span class="colorblock cb01"></span ><span class="trt-title01">交易吨位（百吨）</span></div>
    <div class="trade-statistics-title"><span class="colorblock cb02"></span ><span class="trt-title01">交易额（应收）万元</span></div>
    <div class="trade-statistics-title"><span class="colorblock cb03"></span ><span class="trt-title01">交易次数</span></div>
    
    <div id="trade-statistics-chart" style="width:400px;height:250px"></div>
</div>
