<div class="main-container">
    <div class="trade-num-container">
        <h1>来货拉平台累计交易额</h1>
        <div class="trade-num">
            <span class="trade-num-box">{{total_trade_num[9]}}</span>
            <span class="trade-num-tag">,</span>
            <span class="trade-num-box">{{total_trade_num[8]}}</span>
            <span class="trade-num-box">{{total_trade_num[7]}}</span>
            <span class="trade-num-box">{{total_trade_num[6]}}</span>
            <span class="trade-num-tag">,</span>
            <span class="trade-num-box">{{total_trade_num[5]}}</span>
            <span class="trade-num-box">{{total_trade_num[4]}}</span>
            <span class="trade-num-box">{{total_trade_num[3]}}</span>
            <span class="trade-num-tag">,</span>
            <span class="trade-num-box">{{total_trade_num[2]}}</span>
            <span class="trade-num-box">{{total_trade_num[1]}}</span>
            <span class="trade-num-box">{{total_trade_num[0]}}</span>
            <span class="trade-num-tag">元</span>
        </div>
        <div class="trade-detail">
            <div class="month-trade">
                <p>本月交易额</p>
                <div class="month-trade-detail">
                    <span class="month-trade-num">{{month_trade}}</span>元
                </div>
            </div>
            <div class="quater-trade">
                <p>本季度交易额</p>
                <div class="quater-trade-detail">
                    <span class="quater-trade-num">{{quater_trade}}</span>元
                </div>
            </div>
            <div class="year-trade">
                <p>全年累计交易额</p>
                <div class="year-trade-detail">
                    <span class="year-trade-num">{{year_trade}}</span>元
                </div>
            </div>
        </div>
    </div>
    <div id="main-chart-container" style="height:680px;width:960px" class="map col">

</div>