<div id="hot-route-price-container" >
    <div class="hot-route-title">
        <div class="route-title"><span class="route-box rbx00"></span><span class="route-name">{{hotRouteList[0]}}</span></div>
        <div class="route-title"><span class="route-box rbx01"></span><span class="route-name">{{hotRouteList[1]}}</span></div>
        <div class="route-title"><span class="route-box rbx02"></span><span class="route-name">{{hotRouteList[2]}}</span></div>
        <div class="route-title"><span class="route-box rbx03"></span><span class="route-name">{{hotRouteList[3]}}</span></div>
        <div class="route-title"><span class="route-box rbx04"></span><span class="route-name">{{hotRouteList[4]}}</span></div>
        <div class="route-title"><span class="route-box rbx05"></span><span class="route-name">{{hotRouteList[5]}}</span></div>
    </div>
    <div id="hot-route-chart" style="width:420px;height:250px"></div>

</div>
