<div class="wrapper-md" >
    <div class="panel panel-default">
            <div class="panel-heading font-bold"><h4>用户概要</h4></div>
            <div class="panel-body">
                <span class="col-lg-3">累计用户:{{totalUser}}</span>
                <span class="col-lg-3">实名认证用户：{{realNameUser}}</span>
                <span class="col-lg-3">活跃用户（昨日）：{{activeUser}}</span>
                <span class="col-lg-3">启动次数（昨日）:{{openCount}}</span>
            </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading font-bold">
            <span >整体趋势</span>
            <div class="timeSelector">
                <input type="text" id="user_dataRange" [(ngModel)]="dataRanger">
            </div>
        </div>
        <div class="panel-body">
            <div class="titleSelector">
                <button class="btn btn-default">新增用户</button>
                <button class="btn btn-default">新增实名用户</button>
                <button class="btn btn-default">活跃用户</button>
                <button class="btn btn-default">启动次数</button>
                <button class="btn btn-default">累计用户</button>
                
            </div>
            <div id="user-container" style="height: 500px;width:100%"></div>
            <div class="split"><h4 (click)="toggleTable()">整体趋势明细</h4></div>
            <div class="table-responsive ua-table">
                <table id="user_table" class="table table-hover" >
                    <!--<div class="" >暂无数据</div>-->
                </table>
                <button class="btn btn-danger" (click)="toggleTable()">收起</button>
                <button class="btn btn-danger">导出</button>
            </div>
        </div>
     </div>

</div>

<div>
  <!--<button class="btn btn-default" (click)="test()">reset</button>
  <a class="btn btn-danger" routerLink="/home"  routerLinkActive="active"><span>主页</span></a>-->

</div>