<div class="hot-route-trade-time-container">
    <div class="hot-route-title5">
        <div class="route-title5"><span class="route5-box rbx00"></span><span class="route-name">{{hotRouteList[0]}}</span></div>
        <div class="route-title5"><span class="route5-box rbx01"></span><span class="route-name">{{hotRouteList[1]}}</span></div>
        <div class="route-title5"><span class="route5-box rbx02"></span><span class="route-name">{{hotRouteList[2]}}</span></div>
        <div class="route-title5"><span class="route5-box rbx03"></span><span class="route-name">{{hotRouteList[3]}}</span></div>
        <div class="route-title5"><span class="route5-box rbx04"></span><span class="route-name">{{hotRouteList[4]}}</span></div>
    </div>
    <div id="hrtt-chart" style="width:1700px;height:130px"></div>
</div>