
<div class="main">

    <div class="left">
        
        <app-order-table></app-order-table>
        <app-hot-route-price></app-hot-route-price>
        
    </div>
    <div class="middle">
        <div id="toAdmin">
            <a class="auto" routerLink="/app" routerLinkActive="active">
                
            </a>
        </div>
        <app-main-chart></app-main-chart>
    </div>
    
   
    <div class="right">
        <app-withdraw></app-withdraw>
        <app-client-order></app-client-order>
        <app-trade-statistics></app-trade-statistics>
    </div>

    <div class="bottom">
        <app-hot-route-trade-times></app-hot-route-trade-times>
    </div>
</div>





