<div id="tms-car">
    <div class="block main-shbar">
        <label class="tms-carMo">选择月份</label>
        <span class="first">
            <select name="" id="" [(ngModel)]="year" (change)="selectYear(year)" >
                <option *ngFor="let item of yearList" [value]="item.value" >{{ item.text }}年</option>    
            </select>  
        </span>
        <span class="second">
            <select name="" id="" [(ngModel)]="mounth">
                <option *ngFor="let item of mounthList" [value]="item.value" >{{ item.text }}月</option>    
            </select>  
        </span>

        <label class=""></label>
        <span (click)="onQuery()" class="shbar-btn" >查询</span>
    </div>



    <div class="block car-trade-times mol-4-3">
        <table class="car-trade-times-table table table-bordered tb-90">
            <caption>单一车辆交易次数统计</caption>
            <tr><th class="car-trade-td1">交易次数</th><th>0-10</th><th>10-20</th><th>20-30</th><th>30-40</th><th>40+</th></tr>
            <tr><td class="car-trade-td1">车辆数</td><td *ngFor="let item of carNumList">{{item.carNum}}</td></tr>
        </table>

        <div class="car-trade2"> 单一车辆交易次数统计</div>
        <div id="tms-car-tradeTims-chart" style="width:400px;height:260px;margin-left:5px;">
            
        </div>

    </div>

    <div class="block car-trade-totalTimes mol-3-3" id="car-trade-totalTimes">
        <table class="car-trade-totalTimes-table table table-bordered tb-90">
            <caption>车辆累计交易次数TOP5</caption>
            <tr><th>排名</th><th>车牌号</th><th>累计交易次数</th></tr>
            <tr *ngFor="let item of totalTimesList"><td><span *ngIf="item.id=='1'||item.id=='2'||item.id=='3'" class="carCir">{{item.id}}</span> <span *ngIf="item.id!='1' && item.id!='2' && item.id!='3'" class="carTradeTotalSpan">{{item.id}}</span></td><td >{{item.carCode}}</td><td >{{item.num}}</td></tr>
        </table>
    </div>
    <div class="block car-trade-totalMoney mol-3-3">
        <table class="car-trade-totalTimes-table table table-bordered tb-90">
            <caption>车辆累计交易金额TOP5</caption>
            <tr><th>排名</th><th>车牌号</th><th>累计交易金额（元）</th></tr>
            <tr *ngFor="let item of totalMoneyList"><td ><span *ngIf="item.id=='1'||item.id=='2'||item.id=='3'" class="carCir">{{item.id}}</span> <span *ngIf="item.id!='1' && item.id!='2' && item.id!='3'" class="carTradeTotalSpan">{{item.id}}</span></td><td >{{item.carCode}}</td><td >
                {{item.feeAmount}}</td></tr>
        </table>
    </div>
    
    <div class="block car-source mol-3-3">
        <table class="car-trade-totalTimes-table table table-bordered tb-90">
            <caption>车辆来源TOP5</caption>
            <tr><th>排名</th><th>车辆来源（省份）</th><th>累计交易次数</th></tr>
            <tr *ngFor="let item of totalCarList"><td ><span *ngIf="item.id=='1'||item.id=='2'||item.id=='3'" class="carCir">{{item.id}}</span> <span *ngIf="item.id!='1' && item.id!='2' && item.id!='3'" class="carTradeTotalSpan">{{item.id}}</span></td><td >{{item.carSource}}</td><td >{{item.num}}</td></tr>
        </table>
    </div>
    <div class="block car-evaluate mol-3-3">
        <table class="car-trade-totalTimes-table table table-bordered tb-90">
            <caption>车辆评价TOP5</caption>
            <tr><th class="car-evaluate-sort">排名</th><th>车牌号</th><th>&nbsp; 评 &nbsp; 分 &nbsp; </th></tr>
            <tr *ngFor="let item of totalCommentList"><td ><span *ngIf="item.id=='1'||item.id=='2'||item.id=='3'" class="carCir">{{item.id}}</span> <span *ngIf="item.id!='1' && item.id!='2' && item.id!='3'" class="carTradeTotalSpan">{{item.id}}</span></td><td >{{item.carCode}}</td><td >{{item.average}}</td></tr>
        </table>
    </div>

    <div class="block3 pie-chart-con mol-4-3">
        <h4 class="car-trade2">单一车辆交易次数占比图</h4>
        <div id="tms-car-tradeTimsSacle-chart" style="width:400px;height:310px"></div>
    </div>

</div>